﻿body
{
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323;
    background-color: #E1E1E1;
    
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}

.std {
    font-size: small;
    height: 25px;
    word-wrap: hyphenate;
}

.grayCss {
    border-left-color: black;
}

.red 
{
    vertical-align: central;
    background-color: #FFAAAA;
    mso-pattern: thin-horz-stripe;
}

.green 
{
    vertical-align: central;
    width:80px;
    height:14px;
    background-color: #B5DF8A;
    margin-top:auto; 
    margin-bottom:auto; 
    font-size:16px; 
    border-color: black;
    border-width: 1px; 
    color:black; 
    border-radius: 6px;
    line-height: 14px;
}

.gray 
{
    vertical-align: central;
    width:80px;
    height:14px;
    background-color: lightgray;
    margin-top:auto; 
    margin-bottom:auto; 
    font-size:16px; 
    border-color: black;
    border-width: 1px; 
    color:black; 
    border-radius: 6px;
    line-height: 14px;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.Round
{
    margin: 150px 250px 150px 250px;
}
.footer
{
     background-color: #ffffff;
}
td a, td a:hover , td a:active, td a:visited, a:link
{
    color: #54547F;
    text-decoration:none;
}
td a:hover
{
    text-decoration:underline; 
}

a:active, a:visited, a:link
{
    color: #54547F;
    text-decoration:none;
}
a:hover
{
     text-decoration:underline; 
}

.bubbleInfo {
    position: relative;
}

.popup {
    position: absolute;
    display: none; 
}

#nav-menu ul
{
list-style: none;
padding: 0;
margin: 0;
display: block;
} 

/** *********************Start Here*************************** **/


.legend-contentinner {

    width: 3%;
  
}
.filter-contentinner {

    width: 100%;
  
}

.GridFormat{
  background-color:#F7F7F7;
}

.GridLinesFormat{
    line-height: 50px;
    border-bottom-color : #000000;
    border-style : solid;
    border-top-color : #000000;
    outline-width : medium;
   
}

#lable1
{
   background-color:#AAD4FF; 
   width :10px;
   height :1px;
   border-color: #000000;
   border-width: 1px 1px 1px 1px;
   border-style: solid;
}

#lable2
{
   background-color:#F9F9A4; 
   width :10px;
   height :1px;
   border-color: #000000;
   border-width: 1px 1px 1px 1px;
   border-style: solid;
}

#lable3
{
   background-color:#FFD47F; 
   width :10px;
   height :1px;
   border-color: #000000;
   border-width: 1px 1px 1px 1px;
   border-style: solid;
}

#lable4
{
   background-color:#FFAAAA; 
   width :10px;
   height :1px;
   border-color: #000000;
   border-width: 1px 1px 1px 1px;
   border-style: solid;
}

#lable5
{
   background-color:#F7F7F7; 
   width :10px;
   height :1px;
   border-color: #000000;
   border-width: 1px 1px 1px 1px;
   border-style: solid;

}

#Elable3
{
   background-color:#FFAAAA; 
   width :10px;
   height :1px;
   border-color: #000000;
   border-width: 1px 1px 1px 1px;
   border-style: solid;
}

#Elable6
{
   background-color:#FFFFAA; 
   width :10px;
   height :1px;
   border-color: #000000;
   border-width: 1px 1px 1px 1px;
   border-style: solid;
}

#Elable12
{
   background-color:#B5DF8A; 
   width :10px;
   height :1px;
   border-color: #000000;
   border-width: 1px 1px 1px 1px;
   border-style: solid;
}

#Elable13
{
   background-color:#9CC7C7; 
   width :10px;
   height :1px;
   border-color: #000000;
   border-width: 1px 1px 1px 1px;
   border-style: solid;
}



#Hubname
{
  color:#B4B4B4;
  font-weight: bold;
  font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
}
#Welcome
{
  display:inline;
  font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
}


#prTitle a:active, a:visited, a:link, a:hover
{
    color: #54547F;
    text-decoration:none; 
}

#menustyle
{
  background-color: #F4F4F4;
  
}


#LegendTd
{
  border-color: #D2D2D2 #D2D2D2 #D2D2D2 #D2D2D2;  
  border-style: solid solid solid solid;
  border-width: 1px 1px 1px 1px;  
}

.LegendTdHome
{
  border-color: #D2D2D2 #D2D2D2 #D2D2D2 #D2D2D2;  
  border-style: solid solid solid solid;
  border-width: 1px 1px 1px 1px;  
}

#PichartTd
{
  border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #ffffff;  
  border-style: solid solid solid solid;
  border-width: 1px 1px 1px 1px;  

  margin : 8px 0px 0px 0px;
  padding: 8px 4px 8px 8px;
}

#AccountRadio
{
    background-color: #000066;
}

#stockcardTitle
{
    background-color: #F4F4F4;
    display:inline;
    font-weight:normal;
     font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
}


.legend-table
{
    border-color: -moz-use-text-color #DCDCDC #DCDCDC #DCDCDC #DCDCDC -moz-use-text-color;
    border-style: solid solid solid solid;
    border-width: 1px 1px 1px 1px;
    overflow: hidden;
    padding: 2px 4px;
    float:right;
}

.legend-table td
{
    border-color: -moz-use-text-color #D9DAE0 #D9DAE0 -moz-use-text-color;
    border-style: none solid solid none;
    border-width: 0 1px 1px 0;
    overflow: hidden;
    padding: 2px 4px;
}


.front-table
{
    border-color: -moz-use-text-color #DCDCDC #DCDCDC #DCDCDC #DCDCDC -moz-use-text-color;
    border-style: solid solid solid solid;
    border-width: 1px 1px 1px 1px;
    overflow: hidden;
    padding: 2px 4px;
    float:left;
}

.front-table td
{
    border-color: -moz-use-text-color #D9DAE0 #D9DAE0 -moz-use-text-color;
    border-style: none solid solid none;
    border-width: 0 1px 1px 0;
    overflow: hidden;
    padding: 2px 4px;  
    
}

.Itemprofile td
{

    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    font-size: 100%;
    padding : 4px 4px 4px 4px;
    color: #666699; 
    background-color: #D2D2D2;
    font-weight:bold;
    
}
.FullItemName
{
   font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
   color: #54547F; 
   background-color : #FFFFFF;
   display:inline;
   font-weight:bolder;
   font-size: 100%;
   
}

h1, h2, h3, h4, h5 
{
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323; 
}

h2
{
    display:inline;
    color:#1D489D;
    font-size :medium;
}

.MP
{
    margin : 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: auto;
}

.theader
{
    font-weight : bold;
}


.AccountRadioFormating
{
    float:left; 
    background-color:#F4F4F4; 
    color:#54547F; 
    font-weight:bold; 
    border-color: #999999 #999999 #999999 #999999;  
    border-style: solid solid solid solid; 
    border-width: 1px 1px 1px 1px;
}

/*---------------------------------------------------------------------------------------*/

.main-content {
    margin: auto;
    width: 85%;
    background-color: #fff;
    /*height: 100%;*/
}

    
.main-contentinner {
    margin: auto;
    width: 95%;
    background-color: #fff;
    flex-align:center;
}

#prTitle
{
  color:#000066;
  font-weight:bold;
  font-size:x-large;
}

#HorizontalMenu ul{
  margin: -6px 0;
  padding: 0;
  list-style: none;
  vertical-align:middle;
}

#HorizontalMenu ul li{
  margin: 0 10px 0 0;
  padding: 0;
  display: block;
  float: left;
  width: 80px;
  height:25px;
  border: 0px solid #000;
  
}

#HorizontalMenu ul li a{
  display:block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  float: left;
  text-align:center;
  vertical-align:middle;
}

#HorizontalMenu ul li a:hover{
  color: #fff;
  background-color: #000;
}​