<!DOCTYPE HTML>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="main-content" >
       <div class="main-contentinner">
                <header>
                    <figure>
                         @ViewBag.Logo
                    </figure>
                    <hr />
                    <section> 
                        <article id="prTitle">
                             @ViewBag.Title
                        </article>
                        <hr />
                       <nav id="HorizontalMenu" style="float:left"> 
                           <ul>
                               <li><a href="#">Home</a></li> 
                               <li><a href="#">About</a></li> 
                               <li><a href="#">Contact us</a></li> 
                           </ul> 
                       </nav>
                       <div style="text-align:right;"> Welcome, user | <a href="#">Log out</a>  </div> 
                    </section>    
                    <hr />
                </header>
                <section style="height:424px">
                    <article>
                        @RenderBody()
                    </article> 
                </section>
                <footer style="text-align:center">
                    <hr />
                    <p>
                        Copyright &copy; JSI | USAID Deliver Project
                        <br />
                        Version: @ViewBag.version Plan: @ViewBag.buildPlan Status: @ViewBag.status Released on: @ViewBag.dateOfRelease @ViewBag.daysAgo
                    </p>
                    <hr />
                </footer>
     </div>
   </div>
</body>
</html>

	